.vscode/
.idea/
__pycache__/
*.pyc
configs/
configs/viperx/*.yaml
configs_template/
data/*.json
ffmpeg/bin/*.exe
workenv/
temp/
webui.exe
webui.vmp.exe
backup/
tools/SOME_weights/model_steps_64000_simplified.ckpt
input/
results/
test.py
config_unofficial/
cache/
tmpdir/
pretrain/hub
build/
logs/
presets/
presets_backup/

!pretrain/*.json
!.gitkeep
setup_app.py
*.bat
*.ps1
*.exe
results.zip

*.ckpt
*.pt
*.pth
*.th
*.chpt
*.pyd
*.c