.vscode/
__pycache__/
*.pyc
configs/*.yaml
configs/viperx/*.yaml
configs_template/
data/
ffmpeg/bin/*.exe
workenv/
temp/
webui.exe
webui.vmp.exe
backup/
tools/SOME_weights/model_steps_64000_simplified.ckpt
input/
results/
test.py
config_unofficial/

!pretrain/*.json
!.gitkeep

*.ckpt
*.pt
*.pth
*.th
*.chpt