.vscode/
__pycache__/
*.pyc
configs/*.yaml
configs/viperx/*.yaml
configs_template/
data/
ffmpeg/bin/*.exe
workenv/
temp/
pretrain/
webui.exe
webui.vmp.exe
backup/
tools/SOME_weights/model_steps_64000_simplified.ckpt
input/
results/

!pretrain/*.json
!.gitkeep